
@{
	ViewBag.Title = "MovieSuggestions";
}
<h1>Users with similar movie taste recommend @ViewBag.returnedTitle for you to watch!</h1>

<img src="@ViewBag.returnedPoster" />
<p>Rated: @ViewBag.returnedMpaaRating</p>
<br />
<p>Plot: @ViewBag.returnedPlot</p>

