@{
    ViewBag.Title = "Contact Us";
}

<div class="jumbotron">
    <h1>Creators</h1>
    <p class="lead">Here are your content creators, be on the lookout for the next latest and greatest in the tech world. </p>
    </p>
</div>

<div class="row"></div>

<div class="col-md-3">
    <h2>Lamar Campbell</h2>
    <img src="..\Content\images\buckeyetroll.jpg"   class="img-responsive" />  
    <a href="https://campbell.lamar22@gmail.com">Campbell.lamar22@gmail.com</a>
    <a href="https://github.com/campbellamar22">Github.com/campbellamar22</a>
    <a href="https://linkedin.com/in/lamar-campbell-509a29142/">linkedin.com/in/lamar-campbell</a>

</div>
<div class="col-md-3">
    <h2>Chamus Gilbert </h2>
    <img src="..\Content\images\Chamus Gilbert.jpg" class="img-responsive"/>

    <div><a href="https://chamusg@gmail.com">Chamusg@gmail.com</a></div>
    <a href="https://github.com/chamusgilbert">Github.com/chamusgilbert</a>
    <a href="http://linkedin.com/in/chamusgilbert">Linkedin.com/in/chamusgilbert</a>
</div>
<div class="col-md-3">
    <div><h2>Adam
           Tasma </h2></div>
<img src="..\Content\images\Adam Tasma.jpg"  class="img-responsive"/>  

<div>
    <a href="https://adamtasma@gmail.com">Adamtasma@gmail.com</a>
</div>
<a href="https://github.com/adamtasma">Github.com/adamtasma</a>
<a href="https://www.linkedin.com/in/adamtasma/">Linkedin.com/in/adamtasma</a>
    </div>
<div class="col-md-3">
    <h2>Ian TeGrootenhuis  </h2>
    <img src="..\Content\images\ian.jpg"  class="img-responsive" />
    <div>
        <a href="https://itegrootenhuis@gmail.com">itegrootenhuis@gmail.com</a>
    </div>
    <a href="https://github.com/itegrootenhuis">Github.com/itegrootenhuis</a>
    <div>
        <a href="https://www.linkedin.com/in/ian-tegrootenhuis/">Linkedin.com/in/ian-tegrootenhuis</a>





    </div>

