@{
	ViewBag.Title = "Contact Us";
}

<section id="contact-page">
	<div class="col-md-3">
		<h2>Lamar Campbell</h2>
		<img class="head-shot" src="..\Content\images\Lamar-Campbell-2.jpg" />
		<p><a href="https://campbell.lamar22@gmail.com" target="_blank">Campbell.lamar22@gmail.com</a></p>
		<p><a href="https://github.com/campbellamar22"  target="_blank">Github.com/campbellamar22</a></p>
		<p><a href="https://linkedin.com/in/lamar-campbell-509a29142/"  target="_blank">Linkedin.com/in/lamar-campbell</a></p>
	</div>
	<div class="col-md-3">
		<h2>Chamus Gilbert</h2>
		<img class="head-shot" src="..\Content\images\ChamusGilbert.jpg" />
		<p><a href="https://chamusg@gmail.com"  target="_blank">Chamusg@gmail.com</a></p>
		<p><a href="https://github.com/chamusgilbert"  target="_blank">Github.com/chamusgilbert</a></p>
		<p><a href="http://linkedin.com/in/chamusgilbert"  target="_blank">Linkedin.com/in/chamusgilbert</a></p>
	</div>
	<div class="col-md-3">
		<h2>Adam Tasma</h2>
		<img class="head-shot" src="..\Content\images\AdamTasma.jpg" />
		<p><a href="https://adamtasma@gmail.com"  target="_blank">Adamtasma@gmail.com</a></p>
		<p><a href="https://github.com/adamtasma"  target="_blank">Github.com/adamtasma</a></p>
		<p><a href="https://www.linkedin.com/in/adamtasma/"  target="_blank">Linkedin.com/in/adamtasma</a></p>
	</div>
	<div class="col-md-3">
		<h2>Ian TeGrootenhuis</h2>
		<img class="head-shot" src="..\Content\images\ian.jpg" />
		<p><a href="https://itegrootenhuis@gmail.com"  target="_blank">Itegrootenhuis@gmail.com</a></p>
		<p><a href="https://github.com/itegrootenhuis"  target="_blank">Github.com/itegrootenhuis</a></p>
		<p><a href="https://www.linkedin.com/in/ian-tegrootenhuis/"  target="_blank">Linkedin.com/in/ian-tegrootenhuis</a></p>
	</div>
</section>


