@{
	ViewBag.Title = "Contact Us";
}

<section id="contact-page">
	<div class="col-md-3">
		<h2>Lamar Campbell</h2>
		<img class="head-shot" src="..\Content\images\buckeyetroll.jpg" />
		<p><a href="https://campbell.lamar22@gmail.com">Campbell.lamar22@gmail.com</a></p>
		<p><a href="https://github.com/campbellamar22">Github.com/campbellamar22</a></p>
		<p><a href="https://linkedin.com/in/lamar-campbell-509a29142/">Linkedin.com/in/lamar-campbell</a></p>
	</div>
	<div class="col-md-3">
		<h2>Chamus Gilbert</h2>
		<img class="head-shot" src="..\Content\images\Chamus Gilbert.jpg" />
		<p><a href="https://chamusg@gmail.com">Chamusg@gmail.com</a></p>
		<p><a href="https://github.com/chamusgilbert">Github.com/chamusgilbert</a></p>
		<p><a href="http://linkedin.com/in/chamusgilbert">Linkedin.com/in/chamusgilbert</a></p>
	</div>
	<div class="col-md-3">
		<h2>Adam Tasma</h2>
		<img class="head-shot" src="..\Content\images\Adam Tasma.jpg" />
		<p><a href="https://adamtasma@gmail.com">Adamtasma@gmail.com</a></p>
		<p><a href="https://github.com/adamtasma">Github.com/adamtasma</a></p>
		<p><a href="https://www.linkedin.com/in/adamtasma/">Linkedin.com/in/adamtasma</a></p>
	</div>
	<div class="col-md-3">
		<h2>Ian TeGrootenhuis</h2>
		<img class="head-shot" src="..\Content\images\ian.jpg" />
		<p><a href="https://itegrootenhuis@gmail.com">Itegrootenhuis@gmail.com</a></p>
		<p><a href="https://github.com/itegrootenhuis">Github.com/itegrootenhuis</a></p>
		<p><a href="https://www.linkedin.com/in/ian-tegrootenhuis/">Linkedin.com/in/ian-tegrootenhuis</a></p>
	</div>
</section>


