@{
    ViewBag.Title = "Home Page";
}
<div id="banner" class="row">
	<h1>Whatcha Watchin</h1>
</div>
<div class="container">
	<section id="home-page">
		
		<div id="input-row" class="row">
			<div id="search-div" class="col-md-5 input-group">
				<form action="@Url.Action("GetMovieToRate", "Media")">
					@*<p>Let's learn more about your movie taste. Type a movie in the searchbox that you want to rate!</p>*@
					<input id="movie-search" class="form-control input-lg" type="text" placeholder="Movie Title" name="movieToSearch" />
					<input id="submit-search" class="btn-lg btn btn-default" type="submit" />
					<span class="help-block">Search a movie you wanna rate!</span>
				</form>
			</div>
			<div class="col-md-4 input-group">
				<form action="@Url.Action("TheAlgorithm", "ReviewedMedias")">
					@*<label>Do we have an idea of your movie tastes already? Hit recommend and get a recommended movie!</label>*@
					<input id="recommend-btn" class="btn-lg btn btn-primary" type="submit" name="RecommendMovie" value="Recommend me a Movie!" />
					<span class="help-block">Get recommened a movie based off your taste!</span>
				</form>
			</div>
		</div>
	</section>
</div>


@*<div class="row">
    <div class="col-md-4">
		
	
	</div>
    <div class="col-md-4">
        <h2>Want to see a list of movies you've already rated?</h2>
		<form action="Home/DisplayMyRatings" method="post">
			<input type="submit" value="Click Here!"/> 
		</form>
  </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>*@