@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>WhatchaWatchin</h1>
    <form action="@Url.Action("TheAlgorithm", "ReviewedMedias")">
		Do we have an idea of your movie tastes already? Hit recommend and get a recommended movie!
		<input type="submit" name="RecommendMovie" value="Recommend a Movie!"/>
	</form>
</div>

<div class="row">
    <div class="col-md-4">
		<form action="@Url.Action("GetMovieToRate", "Media")">
			<p>Let's learn more about your movie taste. Type a movie in the searchbox that you want to rate!</p>
			<input type="text" placeholder="Movie Title" name="movieToSearch"/>
			<input type="submit" />
		</form>   
	
	</div>
    <div class="col-md-4">
        <h2>Want to see a list of movies you've already rated?</h2>
		<form action="Home/DisplayMyRatings" method="post">
			<input type="submit" value="Click Here!"/> 
		</form>
  </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>