
<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>@ViewBag.Message</title>
</head>
<body>
	<div>
		<form action="Rate" method="post">
			<input type="submit" name="genreChoice" value="Action" />
		</form>
		<form action="Rate" method="post">
			<input type="submit" name="genreChoice" value="Horror" />
		</form>
		<form action="Rate" method="post">
			<input type="submit" name="genreChoice" value="Thriller" />
		</form>
		<form action="Rate" method="post">
			<input type="submit" name="genreChoice" value="Comedy" />
		</form>
		<form action="Rate" method="post">
			<input type="submit" name="genreChoice" value="Drama" />
		</form>
		<form action="Rate" method="post">
			<input type="submit" name="genreChoice" value="Family" />

	</div>
</body>
</html>
