#banner {
	background: url(images/banner.jpg);
	background-size: cover;
	min-height: 500px;
}
#banner h1{
	font-weight:bolder;
	font-size: 16rem;
	text-align: center;
	margin-top: 100px;
	color: #fff;
}
#recommend-btn {
	width: 100%;
}
#movie-search{
	width: 100%;
	float: left;
	border-radius: 5px;
}
#submit-search{
	margin-left: 3%;
}
#search-div{
	margin-top: 5px;
	margin-left: 15%;
}
#input-row{
	margin-top: 15px;
}
#genre-page h3{
	margin-top: 100px;
	margin-bottom: 50px;
	text-align: center;
	font-size: 7rem;
}
.genre-btn{
	margin-left: 7%;
	margin-top: 10px;
}
#rate-page .col-md-12 {
	clear: both;
}
#rate-page .col-md-12 input{
	width: 100%;
	margin-left: 37%;
}
#footer {
	clear: both;
	text-align: center;
	width: 100%;
	margin-top: 20px;
}
.poster {
	position: relative;
	width: 100%;
	height: 500px;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
	margin-bottom: 5px;
}
#rate-page .row {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
}
.movie {
	display: flex;
	flex-direction: column;
	margin-bottom: 15px;
	padding-bottom: 50px;
}
.input-rating{
	width: 60%;
	float: left;
	margin-right: 1%;
	position: absolute;
	bottom: 0px;
}
.have-not-seen {
	float: right;
	position: absolute;
	bottom: 0px;
	right: 10px;
}
.suggestion-poster {
	position: relative;
	width: 400px;
	height: 500px;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
	margin-bottom: 5px;
}
#suggestion-page .row{
	margin-top: 20px;
}
#suggestion-page h3, #single-rate-page h3 {
	margin-top: 0px;
	font-size: 6rem;
}
#suggestion-page p, #single-rate-page p {
	font-size: 2rem;
}
#suggestion-page #new-movie {
	clear: both;
	padding-top: 20px;
}
.head-shot {
	position: relative;
	width: 100%;
	height: 300px;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
	margin-bottom: 5px;
}
#contact-page h2 {
	font-size: 3rem;
}
#contact-page a{
	font-size: 2rem;
}
#rate-page h3 {
	margin-top: 30px;
	margin-bottom: 50px;
	text-align: center;
	font-size: 7rem;
}
#single-rate-page .row{
	margin-top: 30px;
}
#single-rate-page .poster {
	position: relative;
	width: 400px;
	height: 550px;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
	margin-bottom: 5px;
}
#single-rate-page .form-control {
	width: 15%;
	margin-right: 1%;
	float: left;
}
#error-single-page h2 {
	text-align: center;
	font-size: 4rem;
}
#error-single-page p {
	text-align: center;
	font-size: 2rem;
}
#error-single-page .form-control {
	width: 60%;
	margin-right: 1%;
	margin-left: 36%;
	float: left;
}
#welcome-page h3 {
	font-size: 6rem;
	text-align: center;
	margin-bottom: 20px;
}
#welcome-page p {
	font-size: 2.5rem;
}
#welcome-btn{
	margin-top: 30px;
	text-align: center;
}
